@use "src/style/variables";

.dialogs {
  display: flex;
  flex-direction: row;
  background-color: variables.$primary_color;
  height: auto;
  padding: variables.$gap;
  color: variables.$text_color_second;
}

.dialogItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: auto;
  padding: variables.$gap;

  background-color: variables.$primary_color_second;

}

.messages {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-left: variables.$gap;
  background-color: variables.$primary_color_second;
}

.messages textarea {
  margin-left: 2%;
  height: 50%;
  width: 50%;
}

.messages button {
  margin-left: 2%;
  display: block;
  height: 50%;
  width: 51%;
}

.addMessageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    align-items: stretch;
  }

  input {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 30px;
  }
}
