
.dialogs {

    display: flex;
    flex-direction: row;
    background-color: darkslategrey;
    height: auto;
    padding: 10px;
    color: beige;
    /*margin: 0.5%;*/

}

.dialogItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: auto;
    padding: 1%;

    /*margin: 1%;*/
    background-color: #7cb89c;

}

.messages {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: start;*/
    width: 100%;
    margin-left: 1%;
    background-color: #7cb89c;
}
