
.dialogs {

    display: flex;
    flex-direction: row;
    background-color: darkslategrey;
    height: auto;
    padding: 10px;
    color: beige;
    /*margin: 0.5%;*/

}

.dialogItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: auto;
    padding: 1%;

    /*margin: 1%;*/
    background-color: #7cb89c;

}

.messages {
    display: flex;
    flex-direction: column;
    /*justify-content: start;*/
    height: auto;
    width: 100%;
    margin-left: 1%;
    background-color: #7cb89c;
}
.messages button {
    margin-bottom: 10px;
}

.messages textarea {
    margin-left: 2%;
    height: 20%;
    width: 50%;
}
.messages button {
    margin-left: 2%;
    display: block;
    height: 5%;
    width: 51%;
}
