@import 'src/style/mixin';
@import 'src/style/variables';

.item ::-webkit-file-upload-button {


  background: $main_color;
  color: $text_color;
  padding: 8px 25px 6px 25px;
  border: none;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 1.5;
  transition: all linear 0.3s;
  position: relative;

  &:disabled {
    background-color: gray;

    &:hover {
      color: $text_color;
    }
  }

  &:hover {
    color: $primary_color;
    cursor: pointer;
  }
}

