.main_div {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black 2px solid;
    font-size: 20px;
    font-weight: 600;
}

.main_div2 {
    background-color: rgba(0, 255, 157, 0.42);
}

.main_div img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.buttons_pages {
    height: 50px;
    border: black 2px solid;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.buttons_pages .current {
    font-size: 40px;
}

.loader {
    position: absolute;
    opacity: 40%;
    width: auto;
    height: 100vh;
}