
.header {
    grid-area: header;
    background-color: #191f2d;
    padding: 10px;
    color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
    padding-left: 3%;
    color: white;

}

.header div {
    padding-left: 3.5%;
}

.loginBlock a {
    color: whitesmoke;

}
