.formControl {
    /*border: 1px #b71b1b solid;*/
}

.notError textarea {
    border: 5px #54b71b solid;
}

.Error textarea {
    border: 5px #ff000c solid;
}

.Error span {
    font-weight: 500;
    color: red;
}


